---
---
<script defer src="../js/gallery.js"></script>
<link rel="stylesheet" href="../assets/css/photos.scss" />
<link
    href="https://fonts.googleapis.com/css2?family=Honk&family=Paytone+One&family=Rubik+Glitch+Pop&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet"
  />

<title>sirmilkman - {{page.title}} </title>

<style>




	.screenshot{
    width: 28%;
    
	}

.gradient-background {
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
	:root {
	  	--green: #28c074;
	  	--red: #ff4062;
	  	--black: #181818;
	  	--white: #ffffff;
	  	--gray: #dddddd;
	  	--lightbox-background-color: rgba(0, 2, 7, 0.9);
	}
	body {

	    background: linear-gradient(133deg,#ffffff 40%,#cbffea);
  background-size: 120% 120%;
  animation: gradient-animation 30s ease infinite;
    }
    h1{
    border-radius: 3px;
		font-family: "Josefin Sans", sans-serif;
		font-size: 70px;
		height: 90px;
		width:  412px;
		margin-bottom: 10px;
		text-align: center;
		line-height: 160%;
		vertical-align: middle;
		margin-top: 10px;
		color: var(--white);
		background-color: var(--black);
	}
table {
  table-layout: fixed;
  width: 100%;
border-spacing: 3px;
  
}
	
	td:nth-child(1) {
  	padding: 13px;
color: var(--black);
  	border-radius: 2px;
  	background-color: #dddddd;
  	width:30%;
	}
	td:nth-child(2) {
  	padding: 13px;
  	width: 70%;
  	border-radius: 2px;
  	color: var(--black);
  	background-color: #dddddd;
	}
th,
td {

  
}
	h2{
		border-radius: 3px;
		display: inline-block;
		font-family: "Josefin Sans", sans-serif;
		font-size: 30px;
		height: 47px;
		width:  30%;
		margin-bottom: 10px;
		margin-right: 9px;
		text-align: center;
		line-height: 160%;
		vertical-align: middle;
		margin-top: 10px;
		color: var(--white);
		background-color: var(--black);
	}
	h3{
		border-radius: 3px;
		font-family: "Josefin Sans", sans-serif;
		font-size: 50px;
		height: 80px;
		width:  100%;
		background-color: var(--black);
		padding: 0px;
		margin-bottom: 10px;
		text-align: center;
		line-height: 160%;
		vertical-align: middle;
		margin-top: 10px;
		color: var(--white);

	}

	h4{
		font-size: 22px;
	}

.gray{
	border-radius: 3px;
	padding: 15px;
	padding-right: 0px;
	padding-top: 1px;
	padding-bottom: 24px;
	background-color: var(--gray);

	height: auto;
}

.icon{
	width: 12%;
	image-rendering: pixelated;
	margin-bottom: 0px;
	padding: 5px !important;
    background-color: none !important;
    transition: all 0.22s ease;
}
.icon:hover{
		transform: scale(1.1);
		margin-bottom: 0px;
    padding: 5px !important;
    background-color: none !important;
    transition: all 0.1s ease;
}
a:link {
		padding: 2px;
		color: var(--green);
	}

	/* visited link */
	a:visited {
	  	color: var(--green);
	}

	/* mouse over link */
	a:hover {
			background-color: var(--black);
	  	color: var(--white);
	  	padding: 2px;
	}
	.nocol {
			background-color: white !important;
	  	color: var(--white);
	  	padding: 2px;
	}

	/* selected link */
	a:active {
	  	color: var(--green);
	} 




	.catchphrase{
		border-radius: 3px;
		display: inline-block;
		font-family: "Josefin Sans", sans-serif;
		font-size: 20px;
		text-align: center;
		line-height: 110%;

		width:  200px;
		height: auto;
		
		padding-top: 10px;
		padding-bottom: 10px;

		margin-right: 8px;
		margin-top: 2px;

		vertical-align: middle;
		
		color: var(--white);
		background-color: var(--black);
	}
	.latest{
		border-radius: 3px;
		display: inline-block;
		font-family: "Josefin Sans", sans-serif;
		font-size: 20px;
		text-align: center;
		line-height: 110%;

		width:  200px;
		height: auto;
		
		padding-top: 21px;
		padding-bottom: 21px;

		margin-right: 8px;
		margin-top: 2px;

		vertical-align: middle;
		
		color: var(--white);
		background-color: var(--black);
	}
	.arinPortrait{ 
		position: absolute;
		transform: scale(0.05001);
		top: -2765px; left: -1456px;
	}

	.sidebar{
		font-size: 18px;
		font-family: "Josefin Sans", sans-serif;
		line-height: 25px;

		width: 250px;
		height: 100%;
		padding: 16px;
		top: 0;
		left: 0;
		color: #f4f4f4;
		background-color: #181818;
		overflow-x: hidden;

		display: inline-block;
		position: fixed;
	}

	.mainText{
		backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, .05);
		font-family: "Josefin Sans", sans-serif;
		width: 550px;
		padding: 12px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 294px;
		min-height: calc(100% - 32px);
	}

	details > summary {
	  	margin-bottom: 0px;
	  	margin-left: 18px;
	  	font-size: 18px;
	  	line-height: 25px;
		list-style-type: '+ ';

	  	cursor: pointer;
	}

	details > summary:hover {
		
	  	cursor: pointer;
	}

	details > p {
	
	    padding: 0px;
	}
	details[open] > summary {

		list-style-type: '+ ';

	    margin-bottom: -16px;

	}

	.fakeLink{
		color:var(--green);
		text-decoration: underline;
		padding: 2px;
	}
.fakeLink:hover{
			
	  	color: var(--white);
	  	padding: 2px;

	}

	.button{
		background-color: var(--black) !important;
		color: var(--white) !important;
		font-size: 19px;
		border-radius: 6px;
		padding: 4px !important;
	}
	.button:hover{
		background-color: var(--black) !important;
		color: var(--green) !important;
		font-size: 19px;
		border-radius: 6px;
	}

</style>

{% include sidebar.html %}

	<div class = "mainText">

		{{content}}	

	</div>



<div id="lightbox">
    <img id="lightbox-image" src="../assets/main/arin.png">
</div>