---
---
<style>
	body {
    padding:0;
    margin:0;
}
	.container{
		padding: 0px;
    position:relative, top: 0, left: 0;
    margin-left: auto; margin-right: auto;
		background-color: gray;
		width: 80%;
		height: 100%;
	}
	.sidebar{
		margin-left: 0; margin-right: auto;
		background-color: black;
		width: 330px;
		height: 100%;
	}

	details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
</style>




<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
<li><a href="{{/testlink/}}">EEEEEEEEEEEEEE</a></li>

yeag 